* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #DFE9EA;
}

.box {
  height: 150px;
  width: 300px;
  background-color: #FF8787;
  margin: 20px;
  transition: all 0.2s ;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-group {
  display: flex;
  align-items: center;
}

label {
  margin: 0 10px;
}

input {
  width: 150px;
  margin: 10px;
}

.container {
  margin: 10px;
  padding: 15px;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: 500px;
  border: 2px solid #222;
  border-radius: 5px;
}

.code {
  width: 100%;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
}

.code h3 {
  color: #4D4F50;
  font-weight: 500;
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  main {
    flex-direction: row;
  }
  
  .controls {
    margin-right: 20px;
  }
  
  .container {
    max-width: 600px;
  }
}
